.utils {
  display: flex;
  margin-top: 50px;
  justify-content: space-evenly;
}

.utils > .wrapper {
  /* display: flex; */
  /* justify-content: center; */
  margin: 0px 20px;
}

.utils > .wrapper > h5 {
  margin: 20px 0px 0px 0px;
  color: gray;
}


.conatiner {
  background-color: #eeeeee;
}

















